.btn-primary {
  background: var(--orange);
  padding: 12px 20px;
  color: var(--white);
  border-radius: var(--radius);
  border: none;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-primary:hover {
  background: #ff825d;
}

.btn-secondary {
  background: var(--indigo);
  color: var(--navy);
  padding: 12px 20px;
  border-radius: var(--radius);
  text-decoration: none;
  font-weight: 700;
}

.btn-secondary:hover {
  background: #c7d2fa;
}
